//colors
$black: #000;
$white: #fff;
$violet: #323258;
$dark-violet: #1b1c38;
$light-violet: #8863d5;
$light-green: #567a95;
$dark-green: #1b8471;
$red: #e50000;
$green: #228b22;
//sizes
$button-text: 15px;
$nav: 13px;
$border-radius: 5px;
$border-radius-b: 15px;
$margin-top: 20px;
$margin-sm: 10px;
$min-margin: 1px;
$shadow: 2px 2px 10px #454;

//font sizes
$heading: 25px;
$heading-sm: 18px;

$subheading: 18px;
$subheading-sm: 16px;

$body-text: 16px;
$body-text-sm: 14px;



$border: 1px solid $light-violet;
// main parts

.wrapper {
	background:$dark-violet;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.content {
	flex: 1 0 auto;
	padding: 120px 0px 0px 0px;
}

.container {
	max-width: 1400px;
	margin: 0px auto;
	padding: 0px 10px;
}
.footer {
	flex: 0 0 auto;
}
// Font styles && classes


 .heading, .subheading, .body-text  {
	color: #8863d5;
	margin: 5px 0px;

}
.heading{
font-size: $heading;
}
.subheading {
	font-size: $subheading;
}

.body-text , .body-text-red{
	font-size: $body-text;
}
.body-text-red{
	color: red;
}
.small-text{
	font-size: 14;
	color: #000000;
}

.bold{
	font-weight: bold;
}
.red{
	color: $red;
}
// @media (max-width: 375px){
//    .title {}
//    .subheading {}
//    .paragraph{ }
// }

//buttons
.custom__button, .red__button, .green__button{
   text-align: center;
	padding: 5px 10px;
	width: 130px;
	margin: 5px 5px 5px 10px;
	cursor: pointer;
	font-size: $body-text-sm;
  background: transparent;
  border-bottom: 1px solid transparent;

}
.custom__button{
	color: $dark-green;
}
.red__button{
	color: $red;
}
.green__button{
	color: $green;
}
.red__button:hover{
	border-bottom: 1px solid $red;
}
.green__button:hover{
	border-bottom: 1px solid $green;

}
.custom__button:hover{
	  border-bottom: 1px solid $violet;
}


// .the__button:active{}