//basic colors
$black: #000;
$white: #fff;


$light-green: #567a95;
$dark-green: #a7c957;
$red: #e50000;
$green: #228b22;

//new colors
$ivory: #f9f7f3;
$light-gray: #adb5bd;
$orange:  #f77f00;
$dark-orange: #e36414;
//sizes
$button-text: 15px;
$nav: 13px;
$border-radius: 5px;
$border-radius-b: 15px;
$margin-top: 50px;
$margin-sm: 10px;
$min-margin: 1px;
$shadow: 2px 2px 10px #454;

//font sizes
$heading: 25px;
$heading-sm: 18px;

$subheading: 18px;
$subheading-sm: 16px;

$body-text: 15px;
$body-text-sm: 14px;

$border: 1px solid $light-gray;



button{
   color: rgb(72, 86, 55);
   font-style: italic;
}