.product {
   &__wrapper {
      @include item();
   }
   &__wrapper:hover {
      @include itemHover();
      @include animations();
   }
   &__top {
      //product logo & label
      display: flex;
      justify-content: start;
      align-items: center;
      height: 50px;
    }
    &__top-logo {
      margin-right: 40px;
      height: 25px;
      img {
        height: 100%;
      }
    }
    &__top-label {
      height: 50px;
      display: none;
      border: 5px solid $orange;
      border-radius: 50%;
      @include animatePromo();
      img {
        border-radius: 50%;
        height: 100%;
      }
    }
   &__short {
      display: flex;
      justify-content: space-between;
   }
   &__img {
      margin-top: $margin-top;
      min-width: 400px;
      img {
         width: 100%;
      }
   }
   &__prices {
      width: 100%;
      margin: $margin-top;
   }
 

   &__price {
      display: flex;
      justify-content: start
   }
   &__price-value {
      margin-right: 30px;
   }
   &__buttons{
      
   }
   &__buttons-credit{

   }
   &__buttons-action{
      margin-top: 10px;
      svg, button{
         background: $white;
         margin-right: 10px;
      }
   }
   &__decription {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: $margin-top 0px;
      border-top: 1px solid $dark-green;
   }
   &__decription-table {
      min-width: 50%;
   }
}

// for devices smaller with 690px
@media (max-width: 690px) {
   .product {
      &__short {
         flex-direction: column;
         align-items: center;
      }
      &__img {
         min-width: 100%;
         img {
            width: 100%;
         }
      }
      &__prices {
         margin: $margin-top;
         max-width: 600px;
      }
      &__credit {
         
         min-width: 100%;
      }
      &__decription {
         flex-direction: column;
      }
      &__decription-table {
         min-width: 50%;
      }
   }
}
//additional classes for blocks
.hidden {
   display: none;
 }
 .visible {
   display: block;
 }