.product {
   &__wrapper {
      @include item();
   }
   &__wrapper:hover {
      @include itemHover();
      @include animations();
   }
   // &__item {
   // }
   &__short {
      display: flex;
      justify-content: space-between;
   }
   &__img {
      margin-top: $margin-top;
      min-width: 400px;
      img {
         width: 100%;
      }
   }
   &__prices {
      width: 100%;
      margin: $margin-top;
   }
   // &__promo {
   // }

   // &__price {
   // }
   // &__price-value {
   // }

   // &__credit {
   // }
   &__decription {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: $margin-top 0px;
      border-top: 1px solid $dark-green;
   }
   &__decription-table {
      min-width: 50%;
   }
}


// for devices smaller with 690px
@media (max-width: 690px) {
   .product {
      &__short {
         flex-direction: column;
         align-items: center;
      }
      &__img {
         min-width: 100%;
         img {
            width: 100%;
         }
      }
      &__prices {
         margin: $margin-top;
         max-width: 600px;
      }
      &__decription {
         flex-direction: column;
      }
      &__decription-table {
         min-width: 50%;
      }
   }
}
