// BrandsSection component
.brands{
   margin-top: $margin-top;
   &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      background: $white;
   }
   &__img{
      width: 100px;
      margin: 5px;
      img{
         width: 100%;
      }
   }
}
// for devices smaller with 800px
@media (max-width: 800px) {
   .brands{
      &__img{
         width: 70px;
         margin: 5px;
 
      }
   }
}
// for devices smaller with 620px
@media (max-width: 620px) {
   .brands{
      display: none;
   }
  
}
