.delivery {
   margin-top: $margin-top;
   background: $orange;
   padding: $margin-top 0px;
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   &__item {
      align-self: center;
      @include sectionItemStyle();
      height: 200px;
      background: $white;
   }
   &__item:last-child{
      margin-right: 0;
   }
   &__img {
      width: 60px;
      @include positionCenter();
      img {
         width: 100%;
      }
      
   }
   &__text {
      p{
        text-align: center; 
      }
      
   }
}
@media (max-width: 600px) {
   .delivery {
      &__wrapper {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}
