// for returnPolicy component
.info {
   svg, button{
      background: $white;
   }
   margin-top: 40px;
   &__item {
      display: flex;
      align-items: center;
      p{
         margin-left: 5px;
      }
   }
}
