// popup item  from TheInfo component
.modal {
   &__wrapper{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
   }
   &__content{
      @include  item();
      width: 500px;
      padding: 30px;
      margin: 15px;
      background: $white;
   }
   &__content:hover{ 
   }
   &__close{
      float: right;
      svg{
         fill: $orange;
      }
      }
   &__item{
      text-align: center;
   }
}

.popup-enter-active{ 
  transition: all 0.3s ease-out;
}
.popup-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.popup-fade-enter-from,
.popup-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}