.swiper {
 
   background: $orange;
   
   &__wrapper {
 padding: $margin-top 0px;
   }
}

.swiper-slide {
   width: 100%;
   img {
      width: 100%;
   }
}
.swiper-button-next {
 
}
// --swiper-theme-color: #fff;


.swiper-button-next,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
   --swiper-theme-color: #fff;
}

.swiper-pagination-fraction{
   --swiper-pagination-fraction-color: white;
}