
.body-text,
.body-text-red, .body-text-green {
	font-size: $body-text;
}
.body-text-red {
	color: $red;
}
.body-text-green{
	color: $green;
}
.small-text {
	font-size: 14;
	color: $black;
}

.bold {
   font-weight: bold;
 }
.red {
	color: $red;
}
.green {
	color: $green
}
// font styles
.heading{
   @include font-style( $black, 10px, left);
   @include font-size($heading, 40px);
}
.subheading{ 
   @include font-style( $black, 10px, left);
   @include font-size($subheading, 32px);
}
.body-text, .body-text-red, .body-text-green  {
   @include font-size($body-text,24px)
}
.body-text-red{
	@include font-style( $red, 10px, left);
}
.body-text-green{
	@include font-style( $green, 10px, left);
}
.body-text{
	@include font-style( $black, 10px, left);
}




 