.footer {
   margin-top: $margin-top;
   background: $orange;
   &__wrapper {
    display: flex;
    justify-content: space-between;
    @include sectionStyle();
   }
   &__links {
      a, p{
         color: white
      }
      a{
         display: block;
   }
   }
   &__logo {
      width: 150px;
      height: 150px;
      img{
         width: 100%;
      }
   }
 }