.header {
   background: $blue;
   margin-bottom: 50px;
 
   &__content {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }
   &__logo {
     width: 150px;
     img {
       width: 100%;
     }
   }
   &__links {
     width: 300px;
     ul {
       display: flex;
       justify-content: space-between;
     }

   }
   &__link{
      color: $white;
      
   }
   &__link-icon{
    fill: $white;
width: 20px;
}

 }


 .red__circle{
display: block;
  // background: $red;
  // border-radius: 50%;
  padding:10px 10px;
   margin-top: -20px;
   margin-left: 12px;
  font-size: 10px;
  color:$white;
 }


 @media (max-width: 500px){
  .header{
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
      &__logo {
    width: 75px;
    height: 45px;
    img {
      width: 100%;
    }
    &__links {
      width:100px;
  }
  }
  }
 }